<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
  xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>

	<appender name="logs" class="org.apache.log4j.RollingFileAppender">
	    <param name="append" value="false" />
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="${OUTPUT_DIR}/logs.log" />
	    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
  
  <appender name="rmse" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false"/>
      <param name="maxFileSize" value="10MB"/>
      <param name="maxBackupIndex" value="2"/>
      <param name="file" value="${OUTPUT_DIR}/rmse.csv"/>
      <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%m%n"/>
      </layout>
  </appender>
  
  <appender name="params" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false"/>
      <param name="maxFileSize" value="10MB"/>
      <param name="maxBackupIndex" value="2"/>
      <param name="file" value="${OUTPUT_DIR}/params.log"/>
      <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%m%n"/>
      </layout>
  </appender>
  
  <logger name="RMSE" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="rmse"/>
  </logger>
  
  <logger name="PARAMS" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="params"/>
  </logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="logs" />
	</root>

</log4j:configuration>
